<div class="content">
<div class="card">
  <div class="card-header">
    <h5 class="mb-0">Blogs</h5>
  </div>
<table class="table datatable-basic">
 <thead>
  <tr>
    <th>Blog name</th>
    <th>Description</th>
    <th>User email</th>
    <th>Created at</th>
    <th class="text-center">Actions</th>
  </tr>
 </thead>

 <tbody>
  <% @blogs.each do |blog| %>
   <tr>
     <td><%= blog.blog_name %></td>
     <td><%= blog.description %></td>
     <td><%= blog.user.email %></td>
     <td><%= blog.created_at %></td>
     <td class="text-center">
        <div class="d-inline-flex">
          <div class="dropdown">
            <a href="#" class="text-body" data-bs-toggle="dropdown">
              <i class="ph-list"></i>
            </a>

     <div class="dropdown-menu dropdown-menu-end">
        <a href="#" class="dropdown-item">
          <%= link_to 'Show', blog_path(blog), class:"btn btn-dark pe-3" %>           
        </a>
        <a href="#" class="dropdown-item">
          <%= link_to 'Edit', edit_blog_path(blog), class:"btn btn-dark pe-4" %>                
        </a>
        <a href="#" class="dropdown-item">
          <%= button_to 'Destroy', blog_path(blog), class:"btn btn-dark",
          data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" },
          method: :delete %>                 
        </a>
      </div>  
    </div>
  </div>
    </td>
   </tr>
  <% end %>
 </tbody>
</table>
</div>
</div>